%h1.tittle.text-center.pad-top-50.pad-bottom-30 My inventory
= smart_listing_controls_for(:products_stock, {class: "form-inline text-right"}) do
  .form-group.filter.input-append
    = text_field_tag :filter, '', class: "search form-control", placeholder: "Search...", autocomplete: :off

  %button.btn.btn-primary.disabled{type: :submit}
    %span.glyphicon.glyphicon-search
      
         
=smart_listing_render(:products_stock, data: {callback_href: select_products_to_list_path})