@import "variables";
@import "utility_classes";
@import "products";
@import "fridges";
@import "1st_load_framework";

.navbar-default .navbar-brand {
  color: $main-color;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  &:hover{
    color: darken($main-color,10%);
  }
}

.tittle{
  font-family:"Courier New", Courier, monospace;
  font-size: 30px;
}

.main-font{
  font-family:"Courier New", Courier, monospace;
}
.text-orange{
  color: darken(orange, 10%) !important; 
  font-weight: bold;
}

.message-bottom{
  // border: 1px solid darken(orange, 10%);
  // border-radius: 15px;
  // height: 50%;
  // width: 45%;
  // padding-top: 15px;
  padding-left: 15px;
  color: darken(orange, 10%);
  font-size: 16px;
}